html, body {
	background: #FFFFFF;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
/***�������ֿ�ʼ****/
.container {
	background: #999;
	height: 100%;
	margin: 0 auto;
	width: 100%;
	max-width: 9999px;
	min-width: 700px;
	_width: 700px; /* min-width for IE6 */
}
.pane {
	display: none; /* will appear when layout inits */
}
.ui-layout-pane {   
     background: #ffffff;  
     border:     0px solid #8db2e3;  
     padding:    0px;   
     overflow:   auto;
}
.ui-layout-north {
	overflow: hidden;
}

.bannerbg {
	background: url(../images/banner_start.jpg) no-repeat rgb(176, 215, 232);
	text-align: center;
	width: 100%;
	height: 60px;
	font-size: 12px;
	padding-top: 15px;
	position: relative;
	top: -20px
}
.bannerbg ul {
	float: right;
	width: 70px;
	cursor: pointer;
}
.bannerbg :hover {
	/*color: #fff;*/
}
.bannerbg li {
	float: none;
	clear: both;
}