<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ocellus.platform.dao.MeteringUnitMapper">
	
	<resultMap id="MeteringUnitResult" type="MeteringUnit">
		<id column="id" property="id" />
		<result column="metering_unit_id" property="meteringUnitId"/>
		<result column="p_metering_unit_name" property="pMeteringUnitName"/>
		<result column="l_metering_unit_id" property="lMeteringUnitId"/>
		<result column="l_metering_unit_name" property="lMeteringUnitName"/>
		<result column="p_l_ratio" property="pLRatio"/>
		<result column="EDIT_DATE" property="editDate"/>
		<result column="EDIT_USER" property="editUser"/>
		<result column="activate" property="activate"/>
		<result column="nc_pk" property="ncPK"/>
	</resultMap>
	
	<insert id="insert" parameterType="MeteringUnit">
		insert into tb_metering_unit(
		id,
        metering_unit_id,
        p_metering_unit_name,
        l_metering_unit_id,
        l_metering_unit_name,
        p_l_ratio,
        activate,
		EDIT_DATE,
		EDIT_USER,
        nc_pk
		) values (
		#{id, jdbcType=CHAR},
		#{meteringUnitId, jdbcType=CHAR},
		#{pMeteringUnitName, jdbcType=VARCHAR},
		#{lMeteringUnitId, jdbcType=CHAR},
		#{lMeteringUnitName, jdbcType=VARCHAR},
		#{pLRatio, jdbcType=DOUBLE},
		#{activate, jdbcType=CHAR},
		#{editDate, jdbcType=TIMESTAMP},
		#{editUser, jdbcType=VARCHAR},
		#{ncPK, jdbcType=CHAR}
		)
	</insert>

	<update id="update" parameterType="MeteringUnit">
		update tb_metering_unit
			set metering_unit_id = #{meteringUnitId, jdbcType=CHAR},
			p_metering_unit_name = #{pMeteringUnitName, jdbcType=VARCHAR},
			l_metering_unit_id = #{lMeteringUnitId, jdbcType=CHAR},
			l_metering_unit_name = #{lMeteringUnitName, jdbcType=VARCHAR},
			p_l_ratio = #{pLRatio, jdbcType=DOUBLE},
			activate = #{activate, jdbcType=CHAR},
			EDIT_DATE = #{editDate, jdbcType=TIMESTAMP},
			EDIT_USER = #{editUser, jdbcType=VARCHAR},
			nc_pk = #{ncPK, jdbcType=CHAR}
		WHERE trim(id) = #{id}
	</update>
		
	<select id="getById" parameterType="String" resultMap="MeteringUnitResult">
		select * from tb_metering_unit where trim(id) = #{id}
	</select>
	<select id="getByNcPK" parameterType="String" resultMap="MeteringUnitResult">
		select * from tb_metering_unit where trim(nc_pk) = #{ncPk}
	</select>

	
		<select id="search" resultMap="MeteringUnitResult">
 		select trim(vct_id) AS vct_id, 
		cost_type_code,
		cost_type_name,
		EDIT_DATE,
		EDIT_USER,
		remark
	 from tb_vehicle_cost_type 
			<where>
			<if test="costName != null and costName !=''">
				cost_type_name like '%${costName}%'
			</if>
		</where>
	</select>
	

</mapper>
