.loading-indicator {
	height: 80px;
	width: 80px;
	background: url(images/loading.gif);
	background-repeat: no-repeat;
	background-position: center center;
	color:black
}

.loading-indicator-overlay {
	background-color: #FFFFFF;
	color:black;
	opacity: 0.6;
	filter: alpha(opacity = 60)
}